body {
background-color: #000000;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
}
span.Space {color: blue}
span.one {color: white}
span.two {color: red}
span.three {color: orange}
span.four {color: yellow}
span.five {color: green}
span.six {color: blue}
span.seven {color: indigo}
span.eight {color: violet}
